div.container { width: 200px; }

div.container ul.results { 
	list-style: none; 
}

div.container a.clicker { 
	text-decoration: none; 
	color: #444; 
}

div.container a div b { 
	background: url('chosen-sprite.png') no-repeat 0 1px; 
	display: block; 
	width: 100%; 
	height: 100%; 
}

div.container a div {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 42px;
	-o-border-bottom-right-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #CCC;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #CCC), color-stop(0.6, #EEE));
	background-image: -moz-linear-gradient(center bottom, #CCC 0%, #EEE 60%);
	border-left: 1px solid #AAA;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 18px;
}

div.container {
font-size: 13px;
position: relative;
}

div.container a {
	background: white;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEE), color-stop(0.5, white));
	background-image: -moz-linear-gradient(center bottom, #EEE 0%, white 50%);
	border: 1px solid #AAA;
	display: block;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	height: 25px;
	color: #444;
	line-height: 26px;
	padding: 0px 0px 0px 8px;
	position: relative;
	text-decoration: none;
	z-index: 19;
	white-space: nowrap;
}

div.container ul {
	margin: 0 4px 4px 0;
	max-height: 190px;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 20;
}

div.container div.drop {
  background: #FFF;
  border: 1px solid #aaa;
  border-width: 0 1px 1px;
  left: 0;
  position: absolute;
  top: 29px;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 20;

	width:100%;
}

div.container div.drop {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

div.container-active a {
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}
div.container-active a.with-drop {
  border: 1px solid #aaa;
  border-width: 1px 1px 1px;
  -moz-box-shadow:  0px 1px 0px #FFF inset;
  -webkit-box-shadow:  0px 1px 0px #FFF inset;
  box-shadow: 0px 1px 0px #FFF inset;
  background: #EEE;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
div.container-active a.with-drop div {
  background: transparent;
  border-left: none;
}
div.container-active a.with-drop div b {
  background-position: -18px 1px;
}

div.container div.search {
  padding: 3px 4px;
  margin: 0px;
  white-space: nowrap;
}

div.container input {
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 4px 5px;
  outline: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

div.container div.search input {
  background: url('chosen-sprite.png') no-repeat 97% -35px, #ffffff;
  background: url('chosen-sprite.png') no-repeat 97% -35px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url('chosen-sprite.png') no-repeat 97% -35px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  margin: 1px 0;
  outline: 0;
}

div.container-active ul.choices {
  z-index: 21;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}
div.container-active ul.choices input {
  color: #111 !important;
}

div.container ul.results li:hover {
	cursor: pointer;
  background: #3875d7;
  color: #fff;
}